.btn_box {
  position: relative;
  display: inline-block;
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: #ccc;
  border: none;
  cursor: pointer;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
}

.btn_box:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #7ab8ff;
  color: #fff;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translatey(-100%) rotatex(90deg);
}

.btn_box:hover:before {
  transform: translatey(0) rotatex(0deg);
}

.btn_box:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #6ba8ff;
  color: #fff;
  transition: 0.5s;
  transform-origin: top;
  transform: translatey(0) rotatex(0deg);
}

.btn_box:hover:after {
  transform: translatey(100%) rotatex(90deg);
}

